<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>Hirostagram</title>
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	</head>

	<body>
		<header class="page-header">
		    <div class="page-header-inner inner">
		    	<h1 class="page-header-logo">
		    		<img src="/assets/hirostagram-logo.png" alt=""> 
    		    	
		    	</h1>
		    	
    		    <div class="page-header-search">
    		    	<input type="text" value="検索"></input>
    		    </div>
    		    
    		    <div class="page-header-link">
    		    	<ul>
    		    		<li><i class="fa fa-home "></i></li>
	        		    <li><i class="fa fa-paper-plane "></i></li>
	        		    <li><i class="fa fa-compass "></i></li>
	        		    <li><i class="fa fa-heart "></i></li>
	        		    <li><i class="fa fa-cog "></i></li>
    		    	</ul>
    		    	
    		    </div>
		    </div>
		</header>
		
		<footer></footer>
	</body>
</html>
